body {
    font-family: "EB Garamond", serif;
    margin: 0;
    background-color: #EEEEEE;
    overflow-x: hidden;=
}

a {
    color: inherit;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

#top-container {
    padding: 24px 16px;
    border-bottom: 1px solid #bfbfbf;
    width: 100%;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
}

#items-bar, #item-grid, #search-banner, #pagination {
    width: 100%;
    box-sizing: border-box;
    max-width: 1296px;
    padding: 24px 16px;
    margin: 0 auto;
    position: relative;
}

#pagination a {
    text-decoration: underline;
}

#search-banner-inner {
    padding: 8px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 8px;
}

#category-bar, #search-bar {
    display: flex;
}

#cat, #search-input, #search-button {
    padding: 4px;
}

#search-button {
    margin-left: 4px;
}

#cat {
    margin-left: auto;
}

#search-bar {
    margin-top: 8px;
}

#search-input {
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 500px) {
    #cat {
        margin-left: unset;
    }

    #search-bar {
        margin-left: auto;
        margin-top: 0;
    }

    #items-bar {
        display: flex;
        align-items: center;
    }
}

#item-grid {
    display: grid;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.item {
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    height: 313px;
}

.item-top-bar {
    display: flex;
    height: 48px;
    width: 100%;
    align-items: center;
    padding: 0 12px;
}

.item-category {
    color: #fff;
    height: 22px;
    background-color: #7BA4C6;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px;
    margin-right: 4px;
    border: 1px solid #bfbfbf;
}

.item-bottom-bar {
    height: 40px;
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.item h2, .item h3 {
    padding: 0 12px;
    font-weight: 600;
    margin: 0;
    height: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item h2 {
    font-size: 32px;
}

.item h3 {
    font-family: "Inter", sans-serif;
    font-size: 28px;
}

.item iframe {
    border: 0;
    height: calc(1.25 * 225px);
    width: 125%;
    transform: scale(0.80);
    transform-origin: 0 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 48px;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
}

.item-link-button {
    position: absolute;
    border: 1px solid #bfbfbf;
    width: 48px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    color: #BBBBBB;
    text-align: center;
    right: 8px;
    top: 56px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #fff;
}

@media (min-width: 600px) {
    #item-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    #item-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    #item-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}